::-webkit-scrollbar {
    width: 6px !important;
    color:#aaa;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #aaa !important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}